table {
  border-spacing: 0px;
  border-collapse: collapse;
}

.tableHeader {
  background-color: #343224;
  color: white;
  height: 80px;
}

tfoot {
  background-color: #343224;
  height: 40px;
}

tr:nth-child(even) {
  background: #f7f7f7;
}
tr:nth-child(odd) {
  background: #e6e6e6;
}

tr input,
.tableCb {
  width: 80px;
  text-align: center;
  border: none;
}

img {
  padding: 10px;
}
.options {
  text-align: center;
}

.name {
  width: 400px;
}

.corretor {
  width: 400px;
}

.status {
  width: 300px;
}

.options {
  width: 100px;
}

.pagination {
  margin-left: 35%;
}

.pagination button {
  font-size: 20px;
  border-radius: 10px;
  border-style: none;
  border-color: #009e9a;
  background-color: #009e9a;
  color: white;
  margin: 10px;
}

.pagination b {
  color: #343224;
  font-size: 20px;
}
