<table>
  <thead class="tableHeader">
    <tr>
      <td class="tableCb"><input type="checkbox" /></td>
      <td class="name"><b>NOME</b></td>
      <td class="corretor"><b>CORRETOR/CORRETORA</b></td>
      <td class="status"><b>STATUS</b></td>
      <td class="options"></td>
    </tr>
  </thead>
  <tr *ngFor="let c of clients">
    <td><input type="checkbox" /></td>
    <td>{{ c.nome }}</td>
    <td>{{ c.corretor }}</td>
    <td>{{ c.status }}</td>
    <td>
      <a [routerLink]="['/detalhes/', c.id]">
        <img src="../../../assets/details.png"
      /></a>
      <a (click)="deleteClient(c.id)">
        <img src="../../../assets/delete.png" />
      </a>
    </td>
  </tr>
  <tfoot></tfoot>
</table>
