.container {
  padding-top: 50px;
  width: 100%;
  height: 100%;
}
.mainContent {
  border-top: 1px solid #e6e9eb;
  background-color: #f7f7f7;
  margin-left: 280px;
  height: 100%;
}

.registerDisplayTile {
  display: flex;
  margin-left: 75px;
}

.backLink {
  margin-top: 60px;
  margin-left: 75px;
  display: flex;
  text-decoration: none;
  color: #40cfcb;
}

p,
label {
  color: #343224;
}

.title {
  margin-left: 75px;
}

.registerTile {
  display: flex;
  margin-left: 75px;
}

.registerForm {
  display: grid;
  grid-template-areas: "left right";
}

.textContainer {
  color: #343224;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.textContainer input {
  margin-top: 5px;
  height: 30px;
  border-radius: 5px;
  border-color: #e6e9eb;
}

.submit {
  height: 60px;
  width: 350px;
  border-radius: 8px;
  border-style: hidden;
  background-color: #009e9a;
  color: white;
  font-size: 23px;
}

.cancel {
  height: 60px;
  width: 200px;
  border-radius: 8px;
  border-style: hidden;
  background-color: #cecece;
  color: #6c6c6c;
  font-size: 23px;
  margin-right: 50px;
}

.buttonContainer {
  padding: 30px;
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  margin-left: -450px;
}
