<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="mainContent">
    <a class="backLink" routerLink=""
      ><i class="fa-solid fa-arrow-left"></i>VOLTAR PARA A PÁGINA ANTERIOR</a
    >
    <p class="title"><b>Cadastro de novas indicações</b></p>
    <app-display-tiles class="registerTile">
      <p><b>Dados do cliente</b></p>
      <form
        (ngSubmit)="postClient(inputData)"
        #refForm="ngForm"
        class="registerForm"
      >
        <div class="textContainer">
          <label>Nome Completo</label>
          <input
            type="text"
            placeholder="Digite aqui o nome completo do cliente"
            size="50"
            [(ngModel)]="inputData.nome"
            name="nome"
          />
        </div>
        <div class="textContainer">
          <label>Telefone</label>
          <input
            type="text"
            placeholder="DDD + Telefone"
            [(ngModel)]="inputData.telefone"
            name="telefone"
            size="50"
          />
        </div>
        <div class="textContainer">
          <label>Empresa - opcional</label>
          <input
            type="text"
            placeholder="Digite aqui o nome da empresa"
            [(ngModel)]="inputData.empresa"
            name="empresa"
          />
        </div>
        <div class="textContainer">
          <label>E-mail</label>
          <input
            type="text"
            placeholder="Insira aqui o e-mail do cliente"
            [(ngModel)]="inputData.email"
            name="email"
          />
        </div>
        <div class="textContainer">
          <label>Corretor</label>
          <input
            type="text"
            placeholder="Digite aqui o nome do corretor"
            [(ngModel)]="inputData.corretor"
            name="corretor"
          />
        </div>

        <div class="buttonContainer">
          <a routerLink=""><button class="cancel">CANCELAR</button></a>

          <button type="submit" class="submit">SALVAR E CONTINUAR</button>
        </div>
      </form>
    </app-display-tiles>
  </div>
</div>
