.container {
  padding-top: 50px;
  width: 100%;
  height: 100%;
}
.mainContent {
  border-top: 1px solid #e6e9eb;
  background-color: #f7f7f7;
  margin-left: 280px;
  height: 100%;
}
button {
  margin-top: 80px;
  margin-left: 70px;
  height: 60px;
  width: 340px;
  border-radius: 8px;
  border-style: hidden;
  background-color: #40cfcb;
  color: white;
  font-size: 23px;
}
.grid {
  margin: 40px;
  margin-left: 75px;
  display: flex;
}

h3 {
  margin-left: 75px;
  font-size: 32px;
  display: flex;
  color: #343224;
}

.tableContainer {
  margin-left: 75px;
}

.displayTiles {
  color: #009e9a;
  width: 300px;
}

.displayTiles b {
  font-size: 54px;
}

.displayTiles ::ng-deep :hover {
  background-color: #009e9a;
  color: white;
}
