<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="mainContent">
    <a routerLink="cadastro"><button>ADICIONAR INDICAÇÕES</button></a>
    <div class="grid">
      <app-display-tiles class="displayTiles" content="">
        <b>8</b>
        <p>INDICAÇÕES SEM CORRETOR</p>
      </app-display-tiles>
      <app-display-tiles class="displayTiles"
        ><b>2</b>
        <p>PROPOSTAS FECHADAS</p></app-display-tiles
      >
      <app-display-tiles class="displayTiles"
        ><b>10</b>
        <p>EM ANDAMENTO</p></app-display-tiles
      >
      <app-display-tiles class="displayTiles"
        ><b>5</b>
        <p>EM NEGOCIAÇÃO</p></app-display-tiles
      >
    </div>
    <h3>Indicações</h3>
    <div class="tableContainer">
      <app-table></app-table>
    </div>
    <div class="pagination"></div>
  </div>
</div>
